.center{
    display:flex;
    height: 80vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#localtime, #localdate{
    background-color: aquamarine;
    margin: 10px;
    color: darkblue;
    padding: 5px;
    border: 2px solid rebeccapurple;
}
#clock, #date{
    height: 60px;
    width: 300px;
    font-size: 40px;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 2px solid aquamarine;
    background-color: rgb(95, 74, 35);
    border-radius: 10px;
}