h1{
    text-align: center;
}
.container{
    margin: auto;
    margin-bottom: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border: 2px solid red;
}

#weight-guide{
    margin: auto;
    width: 500px;
    text-align:center;
    background-color: aqua;
    border: 2px solid red;
}